.top-bar {
  width: 100%;
  height: 10%;
  padding-left: 48px;
  box-sizing: border-box;
  border-bottom: 2px solid #f4f5f7;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.bar-element {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-bottom: 2px solid #0165ff;
  gap: 8px;
  height: 100%;
}
.content-bar {
  margin: 0;
  color: #0165ff;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
}
