body {
  margin: 0;
  background-color: #f4f5f7;
}
.App {
  font-family: "Poppins";
  width: calc(100vw - 64px);
  height: calc(100vh - 16px);
  padding: 8px 32px 8px 32px;
}
.footer-content {
  display: flex;
}
